<th:block th:fragment="right-bar">
<div class="right-bar">
  <div class="rightbar-title">
    <a href="javascript:void(0);" class="right-bar-toggle float-right">
      <i class="mdi mdi-close"></i>
    </a>
    <h5 class="m-0 text-white">Settings</h5>
  </div>
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 377px;"><div class="slimscroll-menu" style="overflow: hidden; width: auto; height: 377px;">
    <hr class="mt-0">
    <h5 class="pl-3">Basic Settings</h5>
    <hr class="mb-0">


    <div class="p-3">
      <div class="checkbox checkbox-primary mb-2">
        <input id="checkbox1" type="checkbox" checked="">
        <label for="checkbox1">
          Notifications
        </label>
      </div>
      <div class="checkbox checkbox-primary mb-2">
        <input id="checkbox2" type="checkbox" checked="">
        <label for="checkbox2">
          API Access
        </label>
      </div>
      <div class="checkbox checkbox-primary mb-2">
        <input id="checkbox3" type="checkbox">
        <label for="checkbox3">
          Auto Updates
        </label>
      </div>
      <div class="checkbox checkbox-primary mb-2">
        <input id="checkbox4" type="checkbox" checked="">
        <label for="checkbox4">
          Online Status
        </label>
      </div>
      <div class="checkbox checkbox-primary mb-0">
        <input id="checkbox5" type="checkbox" checked="">
        <label for="checkbox5">
          Auto Payout
        </label>
      </div>
    </div>

    <!-- Timeline -->
    <hr class="mt-0">
    <h5 class="pl-3 pr-3">Messages <span class="float-right badge badge-pill badge-danger">25</span></h5>
    <hr class="mb-0">
    <div class="p-3">
      <div class="inbox-widget">
        <div class="inbox-item">
          <div class="inbox-item-img"><img src="/assets/images/users/avatar-1.jpg" class="rounded-circle" alt=""></div>
          <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Chadengle</a></p>
          <p class="inbox-item-text">Hey! there I'm available...</p>
          <p class="inbox-item-date">13:40 PM</p>
        </div>
        <div class="inbox-item">
          <div class="inbox-item-img"><img src="/assets/images/users/avatar-2.jpg" class="rounded-circle" alt=""></div>
          <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Tomaslau</a></p>
          <p class="inbox-item-text">I've finished it! See you so...</p>
          <p class="inbox-item-date">13:34 PM</p>
        </div>
        <div class="inbox-item">
          <div class="inbox-item-img"><img src="/assets/images/users/avatar-3.jpg" class="rounded-circle" alt=""></div>
          <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Stillnotdavid</a></p>
          <p class="inbox-item-text">This theme is awesome!</p>
          <p class="inbox-item-date">13:17 PM</p>
        </div>

        <div class="inbox-item">
          <div class="inbox-item-img"><img src="/assets/images/users/avatar-4.jpg" class="rounded-circle" alt=""></div>
          <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Kurafire</a></p>
          <p class="inbox-item-text">Nice to meet you</p>
          <p class="inbox-item-date">12:20 PM</p>

        </div>
        <div class="inbox-item">
          <div class="inbox-item-img"><img src="/assets/images/users/avatar-5.jpg" class="rounded-circle" alt=""></div>
          <p class="inbox-item-author"><a href="javascript: void(0);" class="text-dark">Shahedk</a></p>
          <p class="inbox-item-text">Hey! there I'm available...</p>
          <p class="inbox-item-date">10:15 AM</p>

        </div>
      </div> <!-- end inbox-widget -->
    </div> <!-- end .p-3-->

  </div><div class="slimScrollBar" style="background: rgb(158, 165, 171); width: 8px; position: absolute; top: -419px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 182.685px;"></div><div class="slimScrollRail" style="width: 8px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div> <!-- end slimscroll-menu-->
</div>
</th:block>